# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Rider
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak

# Other files
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pdb
*.cache
*.ilk
*.idb
*.sdf
*.opensdf
*.suo
*.userprefs
